<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

    <body>
        <div class="container text-center mt-5">
            <h1 class="display-4">Benvenuto al Pannello di Controllo</h1>
            <p class="lead">Gestisci gli animali del canile attraverso il nostro sistema.</p>
            <a href="/dashboard/animals" class="btn btn-primary btn-lg mt-4">Vai alla pagina degli animali</a>
        </div>
    </body>

</html>