<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    sei nella home
    <a href="/login">Vai al login</a>
    <a href="/register">Vai alla registrazione</a>
</body>

</html>